.btn {
  display: inline-block;
  box-sizing: content-box;
  padding: 0 20px;
  margin: 5px 40px 0 45px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  color: #000000;
  background-color: #fefefe;
  box-shadow: 0 2px #0c0b0c;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: bottom;
  align-content: center;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn:active {
  background-color: #672f9e !important;
}

.btn:focus-visible {
  box-shadow: 0 0 0 3px rgb(208, 135, 250);
}

.btn:disabled {
  background-color: #a4a4a4;
  pointer-events: none;
}

.btnEdit {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 100px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fffefe;
  background-color: #3775dd;
  box-shadow: 0 2px #21487f;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}

.btnEdit:hover {
  background-color: #002fed;
}

.btnEdit:active {
  background-color: #2f599e !important;
}

.btnEdit:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}

.btnEdit:disabled {
  background-color: #abacad;
  pointer-events: none;
}

.btnDell {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 100px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #dd3737;
  box-shadow: 0 2px #7f2121;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}

.btnDell:hover {
  background-color: #ed0000;
}

.btnDell:active {
  background-color: #9e2f2f !important;
}

.btnDell:focus-visible {
  box-shadow: 0 0 0 3px rgb(250, 135, 135);
}

.btnDell:disabled {
  background-color: #a4a4a4;
  pointer-events: none;
}

.btnAdd {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #3ddd37;
  box-shadow: 0 2px #2e7f21;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}
.btnAdd:hover {
  background-color: #0d5e04;
}
.btnAdd:active {
  background-color: #359e2f !important;
}
.btnAdd:focus-visible {
  box-shadow: 0 0 0 3px rgb(137, 250, 135);
}
.btnAdd:disabled {
  background-color: #a4a4a4;
  pointer-events: none;
}
