.datatable {
  width: 5%;
  font-size: 0.9vw;
}

.titletable {
  width: 10%;
}

.descriptiontable {
  width: 30%;
}

.ipaddresstable {
  width: 7%;
}

.notetable {
  width: 50%;
}

.buttontable {
  width: 0;
  padding: 1px;
}

.table {
  width: 100%;
  height: 100%;
}

.table th {
  z-index: 1;
  position: sticky;
  top: 20%;
  text-transform: uppercase;
  font-size: 100%;
  padding: 5px;
  background: #8e8a8a;
  border: 2px solid #000000;
  position: sticky;
}

.table td {
  position: sticky;
  top: 20.2%;
  border: 1px solid #560a77;
  padding: 1px;
  text-align: left;
  line-height: 1;
}

.topBorder {
  margin-top: 100px;
}

.showlog {
  position: fixed;
  top: 9%;
  left: 1%;
  font-size: 0.6vw;
  box-sizing: border-box;
  color: rgb(114, 5, 5);
}

.online {
  color: rgb(12, 133, 5);
}

.offline {
  color: rgb(255, 0, 0);
}

.toolsbar {
  position: fixed;
  top: 11%;
  bottom: 5%;
  left: 0;
  width: 15%;
  height: 100%;
  padding: 10px;
  border-right: 3px solid #040108;
  background-color: rgb(192, 192, 192);
  font-size: 1vw;
}

.select {
  margin: 5% 0 5% 0;
  width: 100%;
  font-size: 1vw;
  box-sizing: border-box;
  padding: 1px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #010101;
}
