.datatable {
  width: 40px;
}

.titletable {
  width: 40px;
}

.descriptiontable {
  width: 500px;
}

.ipaddresstable {
  width: 40px;
}

.notetable {
  width: 40px;
}

.buttontable {
  width: 20px;
}

.table {
 width: 100%;
 height: 100%;
}

table th { 
  text-transform: uppercase;
font-size: 70%;
  padding: 5px;
  background: #8e8a8a;
  border: 2px solid #1d0336;
  position: sticky;
  top: 140px;
  line-height: 1;
}

table td {
  background: #fffdfd;
  border: 1px solid #560a77;
  padding: 5px;
  text-align: left;
  line-height: 1;
  position: sticky;
  top: 165px;
}

.topBorder {
  margin-top: 100px;
}

