.datatable {
  width: 5%;
  font-size: 0.9vw;
}

.titletable {
  width: 10%;
}

.descriptiontable {
  width: 30%;
}

.ipaddresstable {
  width: 7%;
}

.notetable {
  width: 50%;
}

.buttontable {
  width: 0;
  padding: 1px;
}

.table {
  width: 100%;
  height: 100%;
}

table th {
  position: sticky;
  top: 19%;
  text-transform: uppercase;
  font-size: 100%;
  padding: 5px;
  background: #8e8a8a;
  border: 3px solid #560a77;
  position: sticky;
}

table td {
  background: #fffdfd;
  border: 1px solid #560a77;
  padding: 1px;
  text-align: left;
  line-height: 1;
}

.topBorder {
  margin-top: 100px;
}

.showlog {
  position: fixed;
  top: 9%;
  left: 1%;
  font-size: 0.6vw;
  box-sizing: border-box;
  color: red;
}
