dialog {

    margin: 20rem auto;
    padding: 1rem;
    border: 3px solid #040909;
    border-radius: 10px;
    z-index: 100;
    background-color: rgb(216, 229, 171);
    position: fixed;
    box-shadow: 0 3px #798159;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
}