@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.main {
  margin-bottom: 2%;
}

time {
  color: #140720;
}

.header {
  position: fixed;
  top: 0;
  height: 11%;
  width: 100%;
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
  color: #58119f;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #8469bb, 1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4), 1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-bottom: 3px solid #06010a;
  text-align: center;
  line-height: 1;
}

.maintable {
  z-index: -1;
  margin-top: 7%;
  bottom: 5%;
  margin-left: 15%;
  height: 100%;
  padding: 10px;
  font-size: 1vw;
}

.maintoolsbar {
  position: fixed;
  top: 11%;
  bottom: 5%;
  margin-right: 85%;
  width: 15%;
  height: 100%;
  padding: 10px;
  border-right: 3px solid #040108;
  background-color: rgb(192, 192, 192);
  font-size: 1vw;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  border-top: 3px solid #05010a;
  background: #ffffff;
  font-family: "Niconne", cursive;
  color: #6217ae;
  text-shadow: 2px 2px 0px #8469bb, 4px 4px 0px #8469bb, 6px 6px 0px #8469bb,
    8px 8px 0px #8469bb, 10px 10px 0px #8469bb;
}

.colorwhite {
  background: #ffffff;
}

h3 {
  margin-bottom: 1rem;
}

section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.content,
p {
  padding: 2% 0 2% 0;
}

.centered {
  text-align: center;
}

.control {
  position: fixed;
  top: 15%;
  left: 15.8%;
  font-size: 1vw;
  border: 1px solid #150505;
  border-radius: 5px;
  padding: 0.2% 0.2%;
  width: 39%;
  background-color: rgb(202, 201, 201);
}

.fixed {
  position: fixed;
  top: 12%;
  font-size: 1vw;
}

.select {
  margin: 5% 0 5% 0;
  width: 100%;
  font-size: 1vw;
  box-sizing: border-box;
  padding: 1px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #010101;
}
/* background-color: rgb(194, 223, 223); */
/* background-image: linear-gradient(#83d8cf, #074352); */
